.gallery-wrapper {
    padding-top: 10vh;
    padding-inline: 5vw;
}

.my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    width: auto;
    grid-gap: 1%;
}

/* .pin {
    display: flex;
    flex-direction: column;
    gap: .2em;
    margin-bottom: 1vw;
    transition: transform 0.2s;

    & img {
        border-radius: .5em;
        box-shadow: var(--dafault-box-shadow);
        background-color: var(--primary);
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    span{
        font-size: .8rem;
    }
} */

.pin{
    /* columns: 200px; */
    margin-bottom: 1.2vw;
    & img {
        /* box-shadow: var(--dafault-box-shadow); */
        background-color: var(--primary);
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    span{
        font-size: 1rem;
        font-weight: 400;
        font-family: "Open Sans";
    }

}


.my-masonry-grid_column {
    background-clip: padding-box;
    /* gap: 1vw; */
}