.hero{
    position: relative;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% center; 
    height: 92vh;
    display: grid;
    padding-top: 8vh;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.612) 0%, rgba(0,0,0,0) 100%); */
}

.title{
    display: grid;
    color: white !important;
    text-transform: capitalize;
    margin: auto 4%;
    z-index: 2;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.518);
    gap: 1em;
}

.title .info{
    display: grid;
}

.title .name{
    font-weight: 500;
    font-size: 4.5vmax;
}

.title .headline{
    font-size: 2vmax;
}

.title button{
    position: relative;
    display: grid;
    place-items: center;
    padding: .5em;
    background-color: var(--secondary);
    border: none;
    font-size: 1.2em;
    font-weight: 400;
    transition: .3s ease-in-out;
    cursor: pointer;
    border-radius: .5em;
}

label{
    padding: 0;
    margin: 0;
}