.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 100;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    ul{
        display: flex;
        gap: 1em;
        padding: 0 1em;
    }
    ul li{
        display: contents;
    }

}

.logo{
    place-items: center;
    gap: .4em !important;
    cursor: pointer;
    font-family: "Libertinus Mono";

    a{
        display: contents;
    }

    

    img{
        width: 2.5em;
        height: 2.5em;
        display: flex;
        flex-direction: row;
    }

    span{
        height: 100%;
        font-size: 1.1rem;
        display: grid;
        place-items: center;
        text-transform: capitalize;
        letter-spacing: .5px;
        /* font-weight: 400; */
    }
}

.menu{
    place-items: center;

    button{
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0.5em;
        font-size: .9rem;
        transition: .3s ease-in-out;
    }
    button:hover{
        text-shadow: 0 0 1em var(--accent);
    }
    button.active{
        border-bottom: 0.1px var(--accent) solid;
        color: var(--accent);
    }

    .hamburger-icon{
        display: none;
    }    
}

.hamburger{
    z-index: 9;
    width: 100vw;
    position: fixed;
    top: 8vh;
    display: none;
    flex-direction: column;
    background-color: #00000000;
    backdrop-filter: blur(20px);
    list-style-type: none;

    button{
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0.5em;
        font-size: .9rem;
        transition: .3s ease-in-out;
    }
    ul{
        display: flex;
        gap: 1em;
        padding: 0 1em;
    }
    ul li{
        display: contents;
    }
}

.hamburger.open-burger{
    display: flex;
}

@media (max-width: 767px) {
    .menu-item {
        display: none !important;
    }
    .hamburger-icon{
        display: block !important;
    }
}

@media (max-width: 768px) {
    
}